################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelecomInfraProject-V1/TelecomInfraProject/Properties/PublishProfiles
/html_source.sln
/temp_html_source.sln
/Web.config
